	# Configure your name and email per machine
	# name = Your Name
	# email = your@email.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[http]
	postBuffer = 524288000
